html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-color: #81b71a;
    color: #525252;
    margin: 0;
    padding: 0;
}

* {
    transition: all 0.2s ease-out 0s;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}


.hello-world {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hello-world div {
    text-align: top;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}


.hello-world label {
    display: block;
    color: #fff;
    font-size: 4rem;
}

.hello-world input {
    border: none;
    background-color: #fff;
    color: #525252;
    display: block;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 15rem;
}

.hello-world input:focus {
    width: 25rem;
}

small {
    color: #d5d5d5 !important;
}